//------ SASS Useful Mixins ---------------------------------------------

// by Ryan Burgess
// https://github.com/ryanburgess/SASS-Useful-Mixins
// MIT © Ryan Burgess

// ----------------------------------------------------------------------

  // Media Query Breakpoints

// ----------------------------------------------------------------------

// Au Naturale
// example @include min-breakpoint(940) { width:80%; }
// example @include max-breakpoint(940) { width:80%; }

// Bootstrap 
// example @include min-breakpoint($screen-sm-min) { width:80%; }
// example @include max-breakpoint($screen-sm-max) { width:80%; }

@mixin min-breakpoint($size) {
  @media only screen and (min-width: $size + px) { @content; }
}

@mixin max-breakpoint($size) {
  @media only screen and (max-width: $size + px) { @content; }
}
